<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Administar Tienda</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/agregar-cliente">Agregar Cliente</a></li>
      <li><a href="/mostrar-clientes">Mostrar Clientes</a></li>
      <li><a href="/mostrar-productos">Mostrar Productos</a></li>
      <li><a href="/agregar-producto">Agregar Producto</a></li>
      
    </ul>
  </nav>

  <footer>
  
  </footer>
</body>
</html>
